{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-11">
            <h1>Users</h1>
        </div>
        <div class="col-md-1">
            <a href="{{ path('user_new') }}" class="btn btn-primary">Create new</a>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Media</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Active</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.media is defined  and user.media is not null %}
                            <img src="{{ asset('uploads/' ~ user.media.name) }}" class="img-fluid img-thumbnail rounded" height="50px" width="50px"/>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.createdAt|date('m/d/Y') }}</td>
                    <td>{{ user.updatedAt|date('m/d/Y') }}</td>
                    <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-outline-primary">show</a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-outline-primary">edit</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
